.div-center-90 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.div-left-90-l35p {
    text-align: left;
    width: 90%;
    left: 30%;
}

.div-center-100 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.div-90 {
    width: 90%;
}

.div-content-center {
    margin: 0 auto;
}

.div-margin-top-5 {
    margin-top: 5px;
}

.div-margin-top-10 {
    margin-top: 10px;
}

.div-margin-top-25 {
    margin-top: 25px;
}

.div-margin-bottom-25 {
    margin-bottom: 25px;
}

.div-border-right-1px {
    border-right: 1px solid;
}

.div-min-height-256 {
    min-height: 256px;
}

.div-certer-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.div-height-100p {
    position: absolute;
    max-width: 250px;
}