.div-center-50 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.div-center-100 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.div-center-90 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.div-left-90 {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.div-left-90-l35p {
    text-align: left;
    width: 90%;
    left: 30%;
}

.div-center-100 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.div-50 {
    width: 50%;
}

.div-90 {
    width: 90%;
}

.div-content-center {
    margin: 0 auto;
}

.div-margin-top-5 {
    margin-top: 5px;
}

.div-margin-top-10 {
    margin-top: 10px;
}

.div-margin-top-25 {
    margin-top: 25px;
}

.div-margin-bottom-25 {
    margin-bottom: 25px;
}

.div-border-right-1px {
    border-right: 1px solid;
}

.div-min-height-256 {
    min-height: 256px;
}

.div-certer-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.div-height-100p {
    position: absolute;
    max-width: 250px;
}

.div-dialog-bbx {
    border-radius: 62px 62px 62px 62px;
    -moz-border-radius: 62px 62px 62px 62px;
    -webkit-border-radius: 62px 62px 62px 62px;
    border: 0px solid #000000;
    background-color: #e4ebe9;
}

.a-padding-rl-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.div-color-panel-prob {
    background: linear-gradient(to left, #00ff00 0%, #ccffcc 100%);
}

.div-color-unused-feature {
    background: #adadad;
}

.bg-black {
    background: black;
}

.bg-lightblue {
    background: #1b2c8c;
}

.no-padding {
    padding: 0;
}

.ml-4 {
    margin-left: 4px;
}

.ml-6 {
    margin-left: 6px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-10 {
    margin-left: 10px;
}

.no-margin-lr {
    margin-left: 0px;
    margin-right: 0px;
}

.align-cb {
    text-align: left;
    margin-left: 14px;
    margin-bottom: 1px;
}

.options-column {
    height: 175px;
    margin-bottom: 15px;
}