{% extends "template.html" %} {% block title %}Error{% endblock %} {% block content %}
<div class=" div-margin-top-25">
    <div class="row div-center-50" style="text-align:left;">
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong>When processing your request, an error occured. We're sorry for this. If you have any questions please contact site admin.
            <br/><br/>
            <strong>Error Message:</strong>{{MESSAGE}}
            <br/><br/>
            <p style="text-align:center;"><a href="/">Back to Index</a></p>
        </div>
    </div>
</div>
<script>
    // when document ready , function below will be executed
    $(document).ready(function() {
        toggleDiv('index_placeholder');
    });
</script>
{% endblock %}