{% extends "template.html" %} {% block title %}Error{% endblock %} {% block content %}
<div class=" div-margin-top-25">
    <div class="row div-center-50" style="text-align:left;">
        <div class="alert alert-danger" role="alert">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <strong>Error! </strong> When processing your request, an error occured.
                    <br/>We're sorry for this. If you have any question please contact site admin.
                    <br/><br/>
                </div>
                <div class="col-md-3" style="text-align:right;">
                    <strong>Error Details:</strong>
                </div>
                <div class="col-md-9" style="word-wrap:break-word;">
                    {{MESSAGE|safe}}
                </div>
            </div>
            <br/><br/>
            <p style="text-align:center;"><a href="/">Back to Index</a></p>
            {% if LASTPAGE | length > 0 %}
            <!--here , link below will be generate if specified a link to return-->
            <p style="text-align:center;"><a href="{{LASTPAGE}}">Back to Last Page</a></p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    // when document ready , function below will be executed
    $(document).ready(function() {
        toggleDiv('index_placeholder');
    });
</script>
{% endblock %}