{% extends "template.html" %} {% block title %}DoMo-Pred{% endblock %} {% block content %}
<div class="row" style="margin-left:5px;background:#222;width:350px;border-radius:8px;">
    <form action="runanalyze_pwms" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" id="uploadform_pwms">
        <div class="row">
            <div class="col-md-3" style="padding-left:3px;padding-right:1px;">
                <button type="button" class="btn btn-primary" style="padding-top:6px;padding-bottom:2px;padding-left:8px;width:65px;border-radius:8px;"
                    data-toggle="modal" data-target="#easy_pwm_selection_modal" data-whatever="@getbootstrap" id="select_pwms">
                    <i class="material-icons">add_box</i>
                </button>
            </div>
            <div class="col-md-9 no-padding ">
                <div class="col-md-8 no-padding ">
                    <textarea placeholder="click left button to choose" type="text" id="built_in_pwm" rows="1" class="form-control" name="pwms"
                        style="resize: vertical;margin-top:3px;margin-bottom:3px;"></textarea>
                </div>
                <div class="col-md-1 no-padding ">
                    <button type="button" class="btn btn-primary" style="padding-top:8px;padding-bottom:0px;padding-left:4px;padding-right:4px;background:#222;border:0px;"
                        id="btn_advance" data-toggle="collapse" href="#advance_settings" aria-expanded="false" aria-controls="advance_settings">
                <i class="material-icons">settings</i>
            </button>
                </div>
                <div class="col-md-2 no-padding" style="margin-left:10px;">
                        <button id="btn_submit_fake" class="btn btn-primary" style="padding-top:6px;padding-bottom:2px;padding-left:8px;width:100%;border-radius:8px;display:none;" disabled>
                                <i class="material-icons">search</i>
                            </button>
                    <button id="btn_submit" type="submit" class="btn btn-primary" style="padding-top:6px;padding-bottom:2px;padding-left:8px;width:100%;border-radius:8px;display:show;">
                <i class="material-icons">search</i>
            </button>
                </div>
            </div>
        </div>
        <div class="row collapse" id="advance_settings" style="width:428px;display:true;margin-left:18px;background:#222;color:#17b174;margin-left:0px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;border-top-right-radius: 8px;">
            <h5 style="margin-top:12px;">DATA SOURCE</h5>
            <div class="row" style="margin-top:5px;">
                <div class="form-group" style="margin-bottom:10px;">
                    <div class="togglebutton" style="text-align:left;margin-left:100px;">
                        <div class="row">
                            <label style="text-align:left;color:wheat;">
                            <input id="cb_bi_do" type="checkbox" name="use_builtin_domain" value="true" onclick="javascript:useBuiltInSwitcher();" style="margin-top:5px;" checked> 
                            Use Built-in Domain File</input> 
                            </label>
                        </div>
                        <div class="row">
                            <label style="text-align:left;color:wheat;">
                            <input id="cb_bi_pwms" type="checkbox" name="use_builtin_pwms" value="true" onclick="javascript:useBuiltInPWMsSwitcher()" checked>
                            Use Built-In PWMs</input>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row div-content-center" id="upload_pwms">
                <div class="form-group" id="user_pwms" style="margin-bottom:1px;">
                    <label for="inputFile" class="col-md-3 control-label text_right"> PWM Files: </label>
                    <div class="col-md-8">
                        <input type="file" id="pwmfile" name="file[]" multiple="">
                    </div>
                </div>
            </div>
            <div class="row div-content-center" id="upload_domain">
                <div class="form-group" id="dfile">
                    <label for="inputFile" class="col-md-3 control-label text_right">Domain: </label>

                    <div class="col-md-8">
                        <input type="file" id="domainfile" name="domainfile" multiple="">
                    </div>
                </div>
            </div>
            <h5 style="font-size: 16px;font-weight: bold;">FEATURES</h5>
            <div class="row pwm-advance-margin" id="features">
                <div class="col-md-6" style="padding-left: 0px;">
                    <p class="align-cb"> <label style="text-align:left;color:wheat;"><input type="checkbox" name="features[]" value="disorder" checked="checked" />Disorder</label></p>
                    <p class="align-cb"> <label style="text-align:left;color:wheat;"><input type="checkbox" name="features[]" value="surface" checked="checked" />Surface</label></p>
                    <p class="align-cb"> <label style="text-align:left;color:wheat;"><input type="checkbox" name="features[]" value="expression" checked="checked" />Expression</label></p>
                    <p class="align-cb"> <label style="text-align:left;color:wheat;"><input type="checkbox" name="features[]" value="semantic" checked="checked" onclick="return false;" />Semantic(Readonly)</label></p>
                </div>
                <div class="col-md-6"  style="padding-left: 0px;">
                    <p class="align-cb"> <label style="text-align:left;color:wheat;"><input type="checkbox" name="features[]" value="peptide" checked="checked" />Peptide</label></p>
                    <p class="align-cb"> <label style="text-align:left;color:wheat;"><input type="checkbox" name="features[]" value="structure" checked="checked" />Structure</label></p>
                    <p class="align-cb"> <label style="text-align:left;color:wheat;"><input type="checkbox" name="features[]" value="sequence" checked="checked" />Sequence</label></p>
                </div>
            </div>
        </div>
        <div class="row" id="hidden_fields" style="display:none;margin-left:18px;">
            <input name="species" type="text" class="form-control" value="Species" id="form_hidden_species">
            <input type="text" name="analyze_type" value="normal" class="form-control" id="analyze_type" />
        </div>
    </form>
    <div class="row div-center-90">
            <div class="row progress div-center-90 div-margin-top-25" id="progress_bar_x" style="width:40%;display:none;margin-bottom:20px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated active  bg-danger" role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width: 100%">Running</div>
                </div>
    </div>
</div>
<!--div below is the modal for easy protein id pairs selections-->
<div class="row" style="text-align:left;">
</div>
<div class="row" style="text-align:left;">
    <div class="modal fade" id="easy_pwm_selection_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="title" style="text-align:center;">Select Built-In PWMs</h3>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="psa">
                        <!--code below is where the selection box -->
                        <div class="row" id="select_box_area">
                            <div class="col-md-4" style="margin-top:7px;text-align:right;">
                                <strong style="color:deeppink">Select PWMs:</strong>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="pps_a">
                                        {% for id in PWM %}
                                        <option>{{id}}</option>
                                        {% endfor %}
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="addRow()" class="btn btn-success">Add</button>
                            </div>
                            <div class="col-md-3">
                            </div>

                        </div>
                        <hr style="margin-bottom:0px;" />
                        <!--column titles-->
                        <div class="row" style="text-align:center;">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <label class="form-control-label">PWMS</label>
                            </div>
                            <div class="col-md-6">
                                <label class="form-control-label">Options</label>
                            </div>
                        </div>
                        <hr style="margin-top:0px;" />
                        <!--div below is where the protein id pairs shows / add/ delete-->
                        <div class="form-group" id="psa_pid" style="text-align:center;">
                            <div class="alert alert-danger" role="alert">
                                You <strong>haven't</strong> add any PWMs yet, please use selection above to select built-in
                                PWMs then click<strong> add</strong> button.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-5" style="text-align:left;">
                        <span id="pro_count" style="color:darkgray">PWM Count:  0</span>
                    </div>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="getProteinIDPairs()">Add All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var use_builtin_pwms = true;
    var use_builtin_domains = true;

    function useBuiltInPWMsSwitcher() {
        var upload_div = document.getElementById("upload_pwms");
        var sel_pwms = document.getElementById("select_pwms");
        var ta_pwms = document.getElementById("built_in_pwm");
        if (use_builtin_pwms) {
            toggleDiv("upload_pwms");
            document.getElementById("cb_bi_pwms").value = "true";
            sel_pwms.disabled = true;
            ta_pwms.readonly = true;
            ta_pwms.value = "please upload your PWMs";
            use_builtin_pwms = false;
        } else {
            toggleDiv("upload_pwms");
            document.getElementById("cb_bi_pwms").value = "false";
            sel_pwms.disabled = false;
            ta_pwms.readonly = false;
            ta_pwms.value = "";
            use_builtin_pwms = true;
        }

    }

    function useBuiltInSwitcher() {
        if (use_builtin_domains) {
            document.getElementById("cb_bi_do").value = "false";
            use_builtin_domains = false;
        } else {
            document.getElementById("cb_bi_do").value = "true";
            use_builtin_domains = true;
        }
        toggleDiv('upload_domain');
    }
    // code here for protein id selection 
    var row_data =
        `<div class="row" id="ppp_@PPPID@" style="margin-top:1px;margin-bottom:1px;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                            <span style="color:brown" id="pps_b_@PPPID@">@ProteinB@</span>
                        </div>
                        <div class="col-md-6">
                                <button type="button" class="btn btn-danger" onclick="delteRow('@PPPID@')" style="padding-top:1px;padding-bottom:1px;">x</button>
                        </div>
                    </div>`;
    var current_row_count = 0;
    //delete button in protein selction
    function delteRow(rid) {
        $("#ppp_" + rid).remove();
        current_row_count--;
        if (current_row_count == 0) {
            document.getElementById("psa_pid").innerHTML =
                `<div class="alert alert-danger" role="alert">You <strong>haven't add 
            any protein id pairs</strong> , please use selection above to select protein id pairs then click<strong> 
            add</strong> button.</div>`;
        }
        document.getElementById("pro_count").innerText = "Protein ID Pairs Count:  " + current_row_count;
    }

    //add a new row to the protein selection
    function addRow() {
        current_row_count++;
        var pro_a = document.getElementById("pps_a").value;
        var rrow_data = row_data.replace(new RegExp("@PPPID@", 'g'), current_row_count);
        rrow_data = rrow_data.replace(new RegExp("@ProteinB@", 'g'), pro_a);
        if (current_row_count == 1) {
            document.getElementById("psa_pid").innerHTML = rrow_data;
        } else {
            document.getElementById("psa_pid").innerHTML = document.getElementById("psa_pid").innerHTML + rrow_data;
        }
        document.getElementById("pro_count").innerText = "Protein ID Pairs Count:" + current_row_count;
    }

    //this function is used to converted user selected pids in modal to input box
    function getProteinIDPairs() {
        document.getElementById("built_in_pwm").value = "";
        var protein_ids_data = "";
        x = 1;
        for (; x <= current_row_count; x++) {
            var pid_b = document.getElementById("pps_b_" + x);
            var pb = pid_b.innerText;
            protein_ids_data += pb + ",";
        }
        document.getElementById("built_in_pwm").value = protein_ids_data;
        $('#easy_pwm_selection_modal').modal('toggle');
    }

    function validateForm() {
        var td = document.getElementById("built_in_pwm").value;
        if (td.length < 2) {
            console.log(td);
            showMsg("You haven't input any PWMs.<br/>Please select PWMs by click button on the left.",4);
            return false;
        }
        $("#btn_submit").hide();
        $("#btn_submit_fake").show();
        document.getElementById("btn_advance").disabled = true;
        toggleDiv('progress_bar_x');
        showMsg("Running analyze...", 20);
        return true;
    }

    $(document).ready(function () {
        $('body').css('background-image', 'url(../static/pwm-logo.svg)');
        toggleDiv("built_in_pwms");
        document.getElementById("nav_2").classList.add("bg-black");
        toggleDiv("upload_pwms");
        toggleDiv("upload_domain");
    });
</script>
{% endblock %}