{% extends "template.html" %} {% block title %}PPI-Pred{% endblock %} {% block content %}
<div class="row" style="margin-left:5px;background:#222;width:350px;border-radius:8px;">
    <form action="runanalyze" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="row">
            <div class="col-md-3" style="padding-left:3px;padding-right:1px;">
                <button type="button" style="background:#222;color:#bfe2d4;padding:0px;border:0px;margin-left:0px;margin-right:0px;margin-top:4px;margin-bottom:2px;height:32px;width:48px;"
                    class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    id="select_species">Species<span class="caret"></span></button>
                <ul class="dropdown-menu" style="background:#222;">
                    <li><a href="javascript:changeSpecies('Yeast')" style="color:#17b174;">Yeast</a></li>
                    <li><a href="javascript:changeSpecies('Human')" style="color:#17b174;">Human</a></li>
                </ul>
            </div>
            <div class="col-md-9 no-padding ">
                <div class="col-md-8 no-padding ">
                    <textarea onfocus="textarea_on_fucus();" onblur="textarea_lost_fucus()" name="idpairs" class="form-control" id="textarea_input"
                        rows="1" placeholder="Protein id pairs" style="resize: vertical;margin-top:3px;margin-bottom:3px;"></textarea>
                </div>
                <div class="col-md-1 no-padding ">
                    <button type="button" class="btn btn-primary" style="padding-top:8px;padding-bottom:0px;padding-left:4px;padding-right:4px;background:#222;border:0px;"
                        id="btn_advance" onclick="advancedSwitcher()" data-toggle="collapse" href="#advance_settings" aria-expanded="false" aria-controls="advance_settings">
                <i class="material-icons">settings</i>
            </button>
                </div>
                <div class="col-md-2 no-padding" style="margin-left:10px;">
                        <button id="btn_submit_fake" class="btn btn-primary" style="padding-top:6px;padding-bottom:2px;padding-left:8px;width:100%;border-radius:8px;display:none;" disabled>
                                <i class="material-icons">search</i>
                            </button>
                    <button  id="btn_submit" type="submit" class="btn btn-primary" style="padding-top:6px;padding-bottom:2px;padding-left:8px;width:100%;border-radius:8px;display:show;">
                <i class="material-icons">search</i>
            </button>
                </div>
            </div>
        </div>
        <div class="row collapse" id="hide_bar" style="display:none;margin-left:18px;">
            <p style="text-align:left;margin-bottom:1px;"><span style="color:white">Examples:</span>
                <a class="a-padding-rl-5" href="javascript:showExample(1)">#1</a>
                <a class="a-padding-rl-5" href="javascript:showExample(2)">#2</a>
                <a class="a-padding-rl-5" href="javascript:showExample(3)">#3</a>
                <button type="button" style="background:#312c2c;color:#c3ae91;padding:0px;border:1px;margin-left:0px;margin-right:0px;margin-top:1px;margin-bottom:1px;height:32px;width:155px;"
                    class="btn btn-secondary" data-toggle="modal" data-target="#easy_proteinid_selection_modal" data-whatever="@getbootstrap">Select Protein Id Pairs</button></p>
        </div>

        <div class="row collapse" id="advance_settings" style="width:600px;display:true;margin-left:18px;background:#222;color:#17b174;margin-left:0px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;border-top-right-radius: 8px;">
            <div class="row" style="margin-top:12px;">
                <div class="col-md-6" style="text-align:right;padding-right:0px;">
                    <p>Input id above <b>OR </b><label for="exampleInputFile"> Choose a local file:</label></p>
                </div>
                <div class="col-md-4" style="padding-left:0px;">
                    <div class="form-group" style="margin-left:16px;">
                        <input name=id_file type=file class="form-control-file" id="file_input">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 div-border-right-1px options-column">
                    <div class="row">
                        <h4>FEATURES</h4>
                    </div>
                    <div class="row no-margin-lr">
                        <p class="align-cb"><label class="selections"><input type="checkbox" name="features[]" value="cellular_location" checked="checked" />Cellular location</label></p>
                        <p class="align-cb"><label class="selections"><input type="checkbox" name="features[]" value="biological_process" checked="checked" />Biological process</label></p>
                        <p class="align-cb"><label class="selections"><input type="checkbox" name="features[]" value="molecular_function" checked="checked" />Molecular function</label></p>
                        <p class="align-cb"><label class="selections"><input type="checkbox" name="features[]" value="gene_expression" checked="checked" />Gene expression</label></p>
                        <p class="align-cb"><label class="selections"><input type="checkbox" name="features[]" value="sequence_signature" checked="checked" />Sequencesignature</label></p>
                        <p class="align-cb"><label class="selections"><input type="checkbox" name="features[]" value="protein_expression" checked="checked" id="sel_pe"/>Protein expression</label></p>
                    </div>
                </div>
                <div class="col-md-4 div-border-right-1px options-column">
                    <div class="row">
                        <h4>ALGORITHM</h4>
                    </div>
                    <div class="row no-margin-lr">
                        <p class="align-cb"><label class="selections"><input type="radio" name="algorithms" value="naive_bayes" checked="checked" />Naive Bayes</label></p>
                    </div>
                </div>
                <div class="col-md-3 options-column">
                    <div class="row">
                        <h4>OUTPUT</h4>
                    </div>
                    <div class="row no-margin-lr">
                        <p class="align-cb"><label class="selections"><input type="radio" name="outputs" value="tabular" checked="checked" />Tabular</label></p>
                        <p class="align-cb"><label class="selections"> <input type="radio" name="outputs" value="text" />Text</label></p>
                        <p class="align-cb"><label class="selections"><input type="radio" name="outputs" value="color" />Color Density</label></p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="row" id="hidden_fields" style="display:none;margin-left:18px;">
            <input name="species" type="text" class="form-control" value="Species" id="form_hidden_species">
            <input type="text" name="analyze_type" value="normal" class="form-control" id="analyze_type" />
        </div>
    </form>
    <div class="row div-center-90">
        <div class="row progress div-center-90 div-margin-top-25" id="progress_bar_x" style="width:40%;display:none;margin-bottom:20px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated active  bg-danger" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width: 100%">Running</div>
        </div>
    </div>
</div>
<div class=" div-margin-top-5">
    <!--div below is the modal for easy protein id pairs selections-->
    <div class="row" style="text-align:left;">
        <div class="modal fade" id="easy_proteinid_selection_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="title" style="text-align:center;">Select Protein IDs</h3>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="psa">
                            <!--code below is where the selection box -->
                            <div class="row" id="select_box_area">
                                <div class="col-md-4" style="margin-top:7px;text-align:right;">
                                    <strong style="color:deeppink">Select Protein ID Pair:</strong>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select class="form-control" id="pps_a">
                                        {% for id in PID %}
                                        <option>{{id}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select class="form-control" id="pps_b">
                                        {% for id in PID %}
                                        <option>{{id}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" onclick="addRow()" class="btn btn-success">Add</button>
                                </div>
                            </div>
                            <hr style="margin-bottom:0px;" />
                            <!--column titles-->
                            <div class="row" style="text-align:center;">
                                <div class="col-md-4">
                                    <label class="form-control-label">Protein A</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-control-label">Protein B</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-control-label">Options</label>
                                </div>
                            </div>
                            <hr style="margin-top:0px;" />
                            <!--div below is where the protein id pairs shows / add/ delete-->
                            <div class="form-group" id="psa_pid" style="text-align:center;">
                                <div class="alert alert-danger" role="alert">
                                    You <strong>haven't</strong> add any protein id pairs yet, please use selection above
                                    to select protein id pairs then click<strong> add</strong> button.
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-5" style="text-align:left;">
                            <span id="pro_count" style="color:darkgray">Protein ID Pairs Count:  0</span>
                        </div>
                        <div class="col-md-7">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="getProteinIDPairs()">Add All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function advancedSwitcher() {
        var hid_type = document.getElementById("analyze_type");
        if (hid_type.value == "normal") {
            hid_type.setAttribute("value", "advance");
        } else {
            hid_type.setAttribute("value", "normal");
        }
    }

    // this function is used to enable features based on Species selection box value
    function selectCheck() {
        var sel = document.getElementById("form_hidden_species").value;
        if (sel == "Human") {
            document.getElementById("sel_pe").disabled = false;
            document.getElementById("sel_pe").checked = true;
        } else {
            document.getElementById("sel_pe").disabled = true;
            document.getElementById("sel_pe").checked = false;
        }
    }

    function validateForm() {
        var e = document.getElementById("form_hidden_species");
        var ids = document.getElementById("textarea_input").value;
        var ev = e.value;
        if (ev == "Species") {
            showMsg("Please select Species before submit.",4);
            return false;
        }
        if(ids.length < 2){
            showMsg("Please input protein id pairs before submit.",4);
            return false; 
        }
        $("#btn_submit_fake").show();
        $("#btn_submit").hide();
        document.getElementById("btn_advance").disabled = true;
        toggleDiv('progress_bar_x');
        if(document.getElementById("analyze_type").value == "advance"){
            $("#advance_settings").collapse("hide");
        }
        showMsg('Start running analyze,this may takes serveral minutes.',60);
        return true;
    }

    function showExample(expno) {
        var inputbox = document.getElementById("textarea_input");
        inputbox.value = "";
        var exampledata = "";
        if (expno == 1) {
            exampledata = `D6W196 O13512
O13329 O13516
P49090 Q9ZZW4`;
            changeSpecies('Yeast');
        } else if (expno == 2) {
            exampledata = `D6W196;O13512
O13329;O13516
P49090;Q9ZZW4`;
            changeSpecies('Yeast');
        } else {
            exampledata = `P11710,15891
P15891,P32793
P43603,P39969
P32793,P38041`;
            changeSpecies('Human');
        }
        inputbox.value = exampledata;
    }

    // code here for protein id selection 
    var row_data =
        `<div class="row" id="ppp_@PPPID@" style="margin-top:1px;margin-bottom:1px;">
                        <div class="col-md-4">
                            <span style="color:brown" id="pps_a_@PPPID@">@ProteinA@</span>
                        </div>
                        <div class="col-md-4">
                            <span style="color:brown" id="pps_b_@PPPID@">@ProteinB@</span>
                        </div>
                        <div class="col-md-4">
                                <button type="button" class="btn btn-danger" onclick="delteRow('@PPPID@')" style="padding-top:1px;padding-bottom:1px;">x</button>
                        </div>
                    </div>`;
    var current_row_count = 0;
    //delete button in protein selction
    function delteRow(rid) {
        $("#ppp_" + rid).remove();
        current_row_count--;
        if (current_row_count == 0) {
            document.getElementById("psa_pid").innerHTML =
                `<div class="alert alert-danger" role="alert">You <strong>haven't add 
            any protein id pairs</strong> , please use selection above to select protein id pairs then click<strong> 
            add</strong> button.</div>`;
        }
        document.getElementById("pro_count").innerText = "Protein ID Pairs Count:  " + current_row_count;
    }

    //add a new row to the protein selection
    function addRow() {
        current_row_count++;
        var pro_a = document.getElementById("pps_a").value;
        var pro_b = document.getElementById("pps_b").value;
        var rrow_data = row_data.replace(new RegExp("@PPPID@", 'g'), current_row_count);
        rrow_data = rrow_data.replace(new RegExp("@ProteinA@", 'g'), pro_a);
        rrow_data = rrow_data.replace(new RegExp("@ProteinB@", 'g'), pro_b);
        if (current_row_count == 1) {
            document.getElementById("psa_pid").innerHTML = rrow_data;
        } else {
            document.getElementById("psa_pid").innerHTML = document.getElementById("psa_pid").innerHTML + rrow_data;
        }
        document.getElementById("pro_count").innerText = "Protein ID Pairs Count:" + current_row_count;
    }

    //this function is used to converted user selected pids in modal to input box
    function getProteinIDPairs() {
        document.getElementById("textarea_input").value = "";
        var protein_ids_data = "";
        x = 1;
        for (; x <= current_row_count; x++) {
            var pid_a = document.getElementById("pps_a_" + x);
            var pid_b = document.getElementById("pps_b_" + x);
            var pa = pid_a.innerText;
            var pb = pid_b.innerText;
            protein_ids_data += pa + "," + pb + "\r\n";
        }
        document.getElementById("textarea_input").value = protein_ids_data;
        $('#easy_proteinid_selection_modal').modal('toggle');
    }

    function changeSpecies(sname) {
        var sel_sp = document.getElementById("select_species");
        sel_sp.innerHTML = sname + `<span class="caret"></span>`;
        document.getElementById("form_hidden_species").value = sname;
        selectCheck();
    }

    function textarea_on_fucus() {
        console.log("textarea on focus.");
        document.getElementById("hide_bar").style.display = "";
        $('#hide_bar').collapse("show");
    }

    function textarea_lost_fucus() {
        console.log("textarea lose focus.");
        setTimeout(function () {
            $('#hide_bar').collapse("hide");
        }, 150);
    }

    $(document).ready(function () {
        $('body').css('background-image', 'url(../static/logo.svg)');
        selectCheck();
        document.getElementById("nav_1").classList.add("bg-black");
    });
</script>
{% endblock %}