{% extends "template.html" %} {% block title %}DoMo-Pred{% endblock %} {% block content %}
<div class=" div-margin-top-5">
    <div class="row div-center-90 div-50">
        <div class="panel panel-default div-margin-top-5 div-center-90">
            <div class="panel-heading" style="text-align:left;">DoMo-Pred</div>
            <div class="panel-body" style="background:#f4f4f4;">
                <p style="color:crimson;font-size:22px;">Preview, some functions will not work!</p>
                <form action="runanalyze_pwms" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" id="uploadform_pwms">
                    <div class="row">

                        <div class="form-group">
                            <label for="inputFile" class="col-md-3 control-label text_right"> PWM Files: </label>

                            <div class="col-md-8">
                                <input type="file" id="pwmfile" name="file[]" multiple="">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group" id="dfile">
                            <label for="inputFile" class="col-md-3 control-label text_right">Domain File: </label>

                            <div class="col-md-8">
                                <input type="file" id="domainfile" name="domainfile" multiple="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="togglebutton" style="margin:0 auto;">
                                <label style="text-align:center;">
                                    <input type="checkbox" name="builtin" value="1" onclick="javascript:useBuiltInSwitcher();" style="margin-top:15px;text-align:center;"> 
                                    Use Built-in Domain File (Toggle to change)</input> 
                                    <input type="hidden" id="hid" name="hid1" value="false"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <input type="submit" value="Upload and Run" class="btn btn-raised btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--div below is the modal for easy protein id pairs selections-->
<div class="row" style="text-align:left;">
</div>
</div>
<script>
    var cur_normal = true;

    function useBuiltInSwitcher() {
        document.getElementById('hid').value = this.checked;
        toggleDiv('dfile');
        var btn = document.getElementById("use_built_in_btn");
        if (btn.innerText == "Use Built-in Domain File (Toggle to change)") {
            btn.innerText = "Use Local Domain File (Toggle to change)";
        } else {
            btn.innerText = "Use Built-in Domain File (Toggle to change)";
        }
    }

    $(document).ready(function() {
        toggleDiv("index_placeholder");
        document.getElementById("nav_2").classList.add("bg-black");
        document.getElementById("main_title").innerText = "DoMo-Pred";
    });
</script>
{% endblock %}