{% extends "template.html" %} {% block title %}PWMs{% endblock %} {% block content %}
<div class=" div-margin-top-5">
    <!-- Bootstrap Material Design -->
    <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">

    <div class="row div-center-90 div-50">
        <div class="panel panel-default div-margin-top-5 div-center-90">
            <div class="panel-heading" style="text-align:left;">Analyze by PWMs</div>
            <div class="panel-body" style="background:#f4f4f4;">
                <form action="runanalyze_pwms" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" id="uploadform_pwms">
                    <div class="row">

                        <div class="form-group">
                            <label for="inputFile" class="col-md-3 control-label text_right"> PWM Files: </label>

                            <div class="col-md-8">
                                <input type="text" readonly="" class="form-control" placeholder="Browse...">
                                <!--input type="file" id="pwmfile" name="pwmfile" multiple=""-->
                                <input type="file" id="pwmfile" name="file[]" multiple="">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group" id="dfile">
                            <label for="inputFile" class="col-md-3 control-label text_right">Domain File: </label>

                            <div class="col-md-8">
                                <input type="text" readonly="" class="form-control" placeholder="Browse...">
                                <input type="file" id="domainfile" name="domainfile" multiple="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="builtin" value="1" onclick="javascript:useBuiltInSwitcher();"> 
                                    <p id="use_built_in_btn" style="color:coral">Use Built-in Domain File (Toggle to change)</p>
                                    <input type="hidden" id="hid" name="hid1" value="false"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <input type="submit" value="Upload and Run" class="btn btn-raised btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--div below is the modal for easy protein id pairs selections-->
<div class="row" style="text-align:left;">
</div>
</div>
<script>
    var cur_normal = true;

    function useBuiltInSwitcher() {
        document.getElementById('hid').value = this.checked;
        toggleDiv('dfile');
        var btn = document.getElementById("use_built_in_btn");
        if (btn.innerText == "Use Built-in Domain File (Toggle to change)") {
            btn.innerText = "Use Local Domain File (Toggle to change)";
        } else {
            btn.innerText = "Use Built-in Domain File (Toggle to change)";
        }
    }

    $(document).ready(function() {
        toggleDiv("index_placeholder");
        document.getElementById("nav_2").classList.add("bg-lightblue");
        document.getElementById("main_title").innerText = "PWMs";
    });
</script>
{% endblock %}