{% extends "template.html" %} {% block title %}Welcome{% endblock %} {% block content %}
<div class=" div-margin-top-5">
    <form>
        <div class="row div-margin-top-25 div-center-90" id="input_built_in" style="width:512px;">
            <div class="row ">
                <div class="col-md-9">
                    <textarea class="form-control" id="exampleTextarea" rows="1" placeholder="input protein ids here." style="resize: vertical; "></textarea>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleSelect1">
            <option>Species</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
                </div>
            </div>
        </div>
        <div class="collapse " id="collapse_advance_settings">
            <div class="row">
                <div class="col-md-3 div-border-right-1px">
                    1
                </div>
                <div class="col-md-3 div-border-right-1px">
                    2
                </div>
                <div class="col-md-3 div-border-right-1px">
                    3
                </div>
                <div class="col-md-3 div-border-right-1px">
                    4
                </div>
            </div>
        </div>
        <div class="row div-margin-top-5  div-margin-top-25 div-margin-bottom-25">
            <button type="button" class="btn btn-primary">Run</button><br/>
            <button type="button" onclick="javascript:toggleDiv('index_placeholder');toggleDiv('input_built_in');" class="btn btn-link div-margin-top-5" data-toggle="collapse" href="#collapse_advance_settings" aria-expanded="false" aria-controls="collapse_advance_settings">Advance Settings</button>
        </div>
    </form>
</div>
<script>
    function toggleDiv(divId) {
        $("#" + divId).toggle();
    }
</script>
{% endblock %}