<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - DoMo-Pred</title>

    <link href="../static/ilogo.png" rel="icon" type="image/x-icon" />
    <!-- Bootstrap  -->
    <link href="../static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/jquery-3.2.1.min.js"></script>
    <link href="../static/xstyle.css" rel="stylesheet">
    <link href="../static/snackbar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            min-width: 1000px;
            width: auto !important;
            width: 1000px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>

    <div class="bs-component">
        <div class="navbar navbar-inverse bg-inverse" style="border-top-width:0px;margin-bottom:2px;">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="nav_icon" style="margin-top:1px;margin-right:4px;margin-left:4px;">
                    <li><img height=48 width=48 src="../static/ilogo.png" /></li>
                </ul>
                <ul class="nav navbar-nav" id="nav_1">
                    <li><a href="/ppipred">PPI-Pred</a></li>
                </ul>
                <ul class="nav navbar-nav" id="nav_2">
                    <li><a href="/pwms">DoMo-Pred</a></li>
                </ul>
                <ul class="nav navbar-nav" id="nav_3">
                    <li><a href="/#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav" id="nav_4">
                    <li><a href="/#">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="nav_5">
                    <li><a href="/">Cite</a></li>
                </ul>
            </div>
        </div>
        <div class="row div-center-100" id="superdiv">
            {% block content %}{% endblock %}
        </div>
        <div id="snackbar"></div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
<script>
    function toggleDiv(divId) {
        $("#" + divId).toggle();
    }

    function showMsg(message) {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");
        x.innerHTML = message;
        // Add the "show" class to DIV
        x.className = "show";
        // After 3 seconds, remove the show class from DIV
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
    }

    function showMsg(message, sec) {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");
        x.innerHTML = message;
        // Add the "show" class to DIV
        x.className = "show";
        // After 3 seconds, remove the show class from DIV
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, sec * 1000);
    }
</script>

</html>